# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build

# Security-related files
.env*
*.key
*.pem
*.cert
firebase.config.js
api.config.js
/src/config/firebase.config.js
/src/config/api.config.js
/ml-service/app/config.py

# Documentation files (MD files)
*.md
**/*.md

# Misc
.DS_Store

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Markdown files in the root
/*.md

# Log files
/logs
/data
/log
*.log

# ML Service directory
/ml-service/

# Archive files
/src/archive (1)/
/src/archive (2)/

# Configuration files
/src/config/firebase.config.js
/src/config/api.config.js

# Batch and shell scripts
*.bat
*.sh
*.ps1
